*{
    padding: 0;
    margin: 0;
}
.start{
    margin: 0;
    background-color: #e7e7e2;
    display: flex;
    justify-content: center;
    height: 65px;
    
}
.start button{
border: none;
 outline: none;
 background: #e7e7e2;
 text-decoration: underline;
 font-size: 15px;
 
}
.nav-bar{
    justify-content: space-between;
    
    border-bottom-style:inset;
    background-color: white;
    height: 148px;
    border-bottom-width: 1px;
    border-top-left-radius: 25px;
    padding: 10px;
    border: 1px solid #e7e7e2;
    border-top-right-radius: 25px;

}
.home{
   display: flex; 
   gap: 25px; 
   margin-right: 80px;
   margin-top: -20px;
   justify-content: end;


}
.stays ul {
    display: flex;
    gap: 27px;
    margin-top: 10px;
    font-size: 16px;
       text-decoration: none;
       list-style: none;
       text-align: center;
       line-height: 24px;
       letter-spacing: normal;
       font-family: circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
       cursor: pointer;
}
.stays{
    justify-content: center;
    margin-top: -40px;
    padding-left: 760px;
    align-items: center;

}
.logo{
    margin-left: 70px;
    padding-top: 16px;
}

.home button{
    display: flex;
    justify-content: flex-end;
    width: 88px;
    text-align: center;
    border-radius: 30px;
    transform: translateY(-12px);
    height: 44px;
    background-color: white;
    justify-content: space-around;
    
    
}.menu-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    margin-top: 5px;

}

.search-btn ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 90px;
    margin-left: 10px;
    
}
.search-btn{
    display: flex;
    height: 65px;
    margin-left: 500px;
    width: 50%;
    margin-top: -10px;
    color: #dddddd;
    
}
    .search-btn li{
        margin-top: 10px;
     padding-left: 9px;
     align-items: center;


    }

.search-btn button{
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    width: 92%;
    background: #ffffff;
    border: none;
    border: 1px solid #dddddd;
    
    
    }
    .home p{
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
         font-size: 15px;
    }
    .search-logo{
        transform: translateX(63px);
    }
    
    .search-btn .search-logo svg{
        width: 100%;
        color: white;
        background-color: #ff385c;
        padding: 17px;
        border-radius: 50px;
    }
    .search-btn ul li span{
        display: contents;
        transform: translateX(30px);
        width: 100px;
    }
    .search-btn ul span{
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    }
    .search-btn ul p{
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        font-size: 14px;
        color: rgb(136, 133, 133); 
}
.stays {
    transform: translateX(-24px);
    border-radius: 30px;
}

.shover{
    display: flex;
color: #525252;
    margin-left: 54px;
    justify-content: space-evenly;
    margin-top: 27px;
    width: 96%;
      
}
.search-logo span{
    width: 50px;
}
.shover img{
    color: #525252;
    justify-content: center;
    align-items: center;
     
}
    .shover .icon{
    padding-right: 7px;
    padding-bottom: 20px;
        
}
.shover p{ 
    color: rgb(106, 106, 106);
    margin-top: 0px;
    gap: 23px;
    transform: translateX(-11px);
    align-items: center;
    justify-content: center;
}
.shover button{
    margin: 4px;
    border-radius: 90px;
    height: 20px;
    width: 100%;
    background: white;
    transform: translateX(-40px);
   /* border: none;
    color: red*/
}
    

.top-show{
    display: flex;
    margin-top: 0px;
    padding-right: 5px;
    justify-content: space-evenly;
    margin-top: 30px;
    
    
}
.top-bar{
    display: flex;
    border-radius: 40px;
    gap: 25px;

    }
.top-bar .img1 img{
        border-radius: 15px;
    
    }
    .top-bar .img2 img{
         border-radius: 15px;
    }
.top-bar .img3 img{
         border-radius: 15px;
    }
    .top-bar .img4 img{
         border-radius: 15px;
    }
    .top-bar .img5 img{
         border-radius: 15px;
    }
    .second-row{
        padding: 10px;
    }
.top-bar h1{
    font-size: 16px;
    margin-top: 8px;
    letter-spacing: 0px;
    width: 100%;
    height: 3;
}
.top-bar h2 {
    font-size: 14px;
    font-style:italic;
    margin-top: 3px;
    letter-spacing: 0px;
    width: 100%;
    height: 3;
    color: rgb(168, 165, 165);
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.top-bar h3{
    font-size: 16px;
    margin-top: 3px;
    letter-spacing: 0px;
    width: 100%;
    height: 3;
}
.second-row{
       display: flex;
    margin-top: 30px;
    margin-left: 75px;
}
.two-img{
    display: flex;
    margin-top: 30px;
    margin-left: 84px;
    gap: 25px
}
.two-img img{
    border-radius: 15px;
}
    .two-img h1{
    font-size: 16px;
    margin-top: 8px;
    letter-spacing: 0px;
    width: 100%;
    height: 3;
}
.two-img h2 {
    font-size: 14px;
    font-style:italic;
    margin-top: 3px;
    letter-spacing: 0px;
    width: 100%;
    height: 3;
    color: rgb(168, 165, 165);
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.two-img h3{
    font-size: 16px;
    margin-top: 3px;
    letter-spacing: 0px;
    width: 100%;
    height: 3;
}
.past-exp{
    display: flex;
    margin-top: 30px;
    margin-left: 75px;
    gap:20px
}
.experiences{
    display: flex;
    margin-top: 70px;
    margin-left: 75px;
    gap:20p
}
.end-img{
    display: flex;
     margin-top: 30px;
    margin-left: 80px;
    gap:25px
}
.end-image img{
    border-radius: 15px;
    gap: 23px;
}
   .last-image img{
        border-radius: 15px;
       }



.end-img h1{
    font-size: 16px;
    margin-top: 8px;
    letter-spacing: 0px;
    width: 100%;
    height: 3;
}
.end-img h2{
    font-size: 14px;
    font-style:italic;
    margin-top: 3px;
    letter-spacing: 0px;
    width: 100%;
    height: 3;
    color: rgb(168, 165, 165);
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.end-img h3{
    font-size: 16px;
    margin-top: 3px;
    letter-spacing: 0px;
    width: 100%;
    height: 3;
}
.footer-top{
    align-items: center;
}
   
.footer-top h2{
    margin-top: 40px;
    margin: 70px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.22px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.footer-flex{
    display: flex;
    gap: 23px;
    height: 40px;
    margin-top: 18px;
    padding-left: 70px;
    border-bottom-style:inset;
    color: rgba(106, 106, 106);
    font-weight: bold;
    font-size: 15px;

}
    .footer-flex h3{
    color: rgba(106, 106, 106);
    cursor: pointer;
    
}
.footer-flex h3 :hover{
    cursor: alias;
    color: black;
}
.footer-grid
{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding-left: 40px;
    padding-right: 230px;
    border-bottom-style: inset;
    height: 200px;
    
    
}
.footer-grid ul{
    height: 60px;
    
}
.footer-grid ul p{
    color: rgb(106, 106, 106);
    background-color: #f7f7f7;
}
.footer-grid ul span{
    color: rgb(34, 34, 34);
    cursor: pointer;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.footer-down{
    display: flex;
    justify-content: space-around;
    border-bottom-style: inset;
    height: 222px;
    margin-left: -142px;
    margin-top: -29px;
    align-items: center;
    
    
    

}.footer-down p{
    margin: 11px;
    font-size: 14px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

}
.footer-down span{
    padding-left: 10px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    
}
.footer-down .zoo{
    transform: translateX(-30px);
}
.footer-down .simba{
    padding-right: 10px;
    transform: translateX(-149px);

}
.footer-down .bodo{
    transform: translateX(-247px);
}
.tham{
    display: flex;
    padding-left: 70px;
    margin-top: 10px;
    justify-content: space-between;
}

.tham ul{
    display: flex;
        gap: 17px;


}
.tham li{
  height: 53px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.done{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    transform: translateX(-90px);
    margin-top: 10px;
    background-color: #f7f7f7;
}
.done ul{
    padding-left: -9px;
}
.footer-grid .div{
    box-sizing: content-box;
    background-color: #f7f7f7;
;
}
.footer{
    background-color: #f7f7f7;
    padding-top: 2px;
    margin-top: 33px;
}
.footer-down{
    background-color: #f7f7f7;
    
}
.tham
{
    background-color: #f7f7f7;
    margin-top: -1px;
    padding-top: 20px;
}
.dham{
    background-color: #f7f7f7;
     
}
 .done .dham {
    column-gap: 20px 20px 20px;
}
.experiences{
    padding-left: 9px;
}
.shover .icon1 img{
    transform: translateX(-7px);
    
}
.shover .icon2 img{
    transform: translateX(20px);
    color: #525252;
}
.shover .icon3 img{
    transform: translateX(12px);
}

.shover .icon5 img{
     transform: translateX(px); 
}
.shover .icon4 img{
     transform: translateX(-3px);
}

.shover .icon6 img{
    transform: translateX(12px);
}
.shover .icon7 img{
    transform: translateX(20px);
}
.shover .icon8 img{
    transform: translateX(-4px);
}
.shover .icon9 img{
    transform: translateX(9px);
}
.shover .icon10 img{
    transform: translateX(-3px);
}
.shover .icon11 img{
    transform: translateX(25px);
}
.shover .icon12 img{
    transform: translateX(-7px);
}
.shover .icon13 img{
    transform: translateX(3px);
}
 .shover .icon14 img{
    transform: translateX(3px);
 }
.shover .icon15 img{
    transform: translateX(1px);
}
.shover .icon16 img{
    transform: translateX(-6px);
}
.shover .icon17 img{
    transform: translateX(29px);
}
.top-bar .img1{
    object-fit: cover;
}
.second-row .top-bar {
    object-fit: cover;
    margin-left: -7px;
    
}



    


.top-bar img{
    object-fit: cover
}
.shover p{
padding-top: 2px;
width: 100%;
font-size: 14.98px;
}
.past-exp{
    margin-left: 84px;
}
.two-img{
    margin-left: 77px;
}